.page {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /*padding-left: 30rpx;*/
  /*padding-right: 30rpx;*/
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200rpx;
  margin-left: 30rpx;
  margin-right: 30rpx;
  margin-top: 100rpx;
  /*margin-left: 200px;*/
  background-color: blueviolet;
}

.text {
  font-size: 36px;
}
